{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="display-4 text-center my-4">Détails Article</h1>

    <div class="col-md-12 card mb-2 p-0" >
        <img src="https://picsum.photos/seed/picsum/300/100" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-center ">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sed beatae officia explicabo praesentium voluptate cum tempora delectus possimus hic tempore, totam fuga voluptates rem quae, soluta magnam, dolorum vel!</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sed beatae officia explicabo praesentium voluptate cum tempora delectus possimus hic tempore, totam fuga voluptates rem quae, soluta magnam, dolorum vel!</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sed beatae officia explicabo praesentium voluptate cum tempora delectus possimus hic tempore, totam fuga voluptates rem quae, soluta magnam, dolorum vel!</p>
        </div>
    </div>
{% endblock %}